@model BookStore.Domain.Domain.BookPublisher
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container w-50 mx-auto shadow-lg text-center p-3 mb-5 bg-body-tertiary rounded-4">
    <h1 class="display-5">Create BookPublisher</h1>
    <hr class="border-3 rounded-3 mx-auto" style="width:150px" />
    <div class="row">
        <div class="col w-75 mx-auto">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="BookId" class="control-label">Book</label>
                    <select asp-for="BookId" class="form-control" asp-items="ViewBag.BookId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="PublisherId" class="control-label">Publisher</label>
                    <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.PublisherId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
               
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary m-2" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class=" btn btn-dark m-2">Back to List</a>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
